<h3>Đăng khóa học</h3>
<div class="mt-4">
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" name="name" id="name" class="form-control" value="{{course.name}}" placeholder="Tên khóa học">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea  rows="5" id="description" name="description" class="form-control" placeholder="Mô tả khóa học">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="video-id">Video Id</label>
            <input type="text"name="videoId"  id="video-id" class="form-control" value="{{course.videoId}}" placeholder="Video Id">
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>